body {
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.stat-card {
  background-color: #ffffff;
  box-shadow: 2px 5px 10px rgb(226, 226, 226);
  border-radius: 15px;
  padding: 30px 22px;
  margin: 25px 3% 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plans-card {
  background-color: #ffffff;
  box-shadow: 2px 5px 10px rgb(226, 226, 226);
  border-radius: 15px;
  padding: 25px 25px;
  margin: 25px 3% 25px 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    border: 2px solid rgb(206, 206, 206);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 15px;
    transition: 0.3s;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.card:hover {
    border-color: green;
}

.plan-label {
    font-size: 16px;
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
}
.plan-value {
    color: #5e5e5e;
    font-size: 14px;
}

.label {
  color: #000000;
  font-size: 20px;
  margin-bottom: 15px;
  align-items: left;
  display: inline-block;
}

.value {
    color: #000000;
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
}

.select {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid green;
    font-size: 16px;
    margin-bottom: 18px;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.btn-view {
    flex: 1;
    height: 40px;
    border-radius: 8px;
    background-color: #00a843;
    border: 2px solid #00a843;
    color: white;  
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn-edit {
    flex: 1;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #00a843;
    background-color: white;
    color: #00a843;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.bottom-nav{
    display: none;
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .sidebar {
        display: none;
    }

    .bottom-nav {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #ffffff;
        border-top: 1px solid #e5e7eb;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
        padding-bottom: 5px;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: #718096;
        font-size: 11px;
        gap: 4px;
    }

    .nav-item i {
        font-size: 20px;
    }

    .nav-item.active {
        color: #00a843;
        background-color: #e1fbed;
        padding: 8px 12px;
        border-radius: 12px;
    }

    main {
        padding-bottom: 90px;
    }
}