@import url('https://googleapis.com');

:root {
    --color-primary-1: #f7ffea;
    --color-primary-2: #cbffb4;
    --color-primary-3: #82f877;
    --color-primary-4: #063e00;
    --color-primary-5: #49a851;
    --color-primary-6: #09e91c;
    
    --color-neutral-0: #fff;
    --color-neutral-1: #1d1d1d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-primary-1);
    display: flex;
}

aside {
    background-color: var(--color-primary-4);
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    position: fixed;
}

.logo {
    width: 140px;
    height: auto;
    background-color: var(--color-neutral-0);
    border-radius: 12px;
    margin-bottom: 40px;
    padding: 10px;
}

nav { 
    width: 100%; 
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item a {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--color-neutral-0);
    text-decoration: none;
    margin: 0 20px;
    padding: 12px;
    border-radius: 8px;
    transition: 0.2s;
}

.menu-item a:hover, 
.menu-item a.current-menu {
    color: var(--color-neutral-1);
    background-color: var(--color-primary-5);
}

.menu-item img {
    width: 24px;
    height: 24px;
}

header, main {
    margin-left: 300px;
    padding: 20px 40px;
    width: calc(100% - 300px);
}

h1 {
    color: var(--color-neutral-1);
    font-weight: 800;
}
